{% extends 'base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="offset-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button-center"><button type="submit" class="btn btn-success">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}